[Unit]
Description=Alrawi App
After=network.target

[Service]
Type=simple
User=alrawi
Group=alrawi
WorkingDirectory=/var/www/alrawi/source-code
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
EnvironmentFile=/etc/alrawi/alrawi.env
ExecStart=/usr/bin/env pnpm start
Restart=always
RestartSec=5
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
